.toggle{
	position: relative;
	display: inline-block;
	width: 64px;
	height: 32px;
}
.toggle input{
	opacity: 0;
	width: 0;
	height: 0;
}
.toggle .knob{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #02295a;
	transition: .2s;
	border-radius: 30px;
}
.toggle .knob:before{
	background-color: #ffffff;
	position: absolute;
	content: '';
	height: 24px;
	width: 24px;
	left: 4px;
	bottom: 4px;
	transition: .2s;
	border-radius: 30px;
}
.toggle input:checked + .knob{
	background-color: #02295a;
}
.toggle input:focus + .knob{
	box-shadow: 0 0 1px #2196F3;
}
.toggle input:checked + .knob:before{
	background-color: #ffffff;
	-webkit-transform: translateX(32px);
	-ms-transform: translateX(32px);
	transform: translateX(32px);
}
